@model RCON_HLL_MVC.Models.RconCommandsModel
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-sm-12">
                <h2>Hell Let Loose RCON</h2>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p><b>Server: </b>176.57.168.232</p>
                    <button type="button" onclick="CreateNewSession()" class="btn btn-primary">Try Create new session</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Current available RCON Commands:</h3>
                </div>
            </div>
            <hr />


            <div class="container">
                <!-- Filter Input-->
                <label>Filter Command List:</label>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <br>

                <div class="col-sm-7">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Command</th>
                                <th>Paramter 1</th>
                                <th>Paramter 2</th>
                                <th>Paramter 3</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var item in Model.FoundCommands)
                            {
                                <form >
                                    <tr id="@item.m_name">
                                        <td>
                                            <button type="button" onclick="TriggerCommand('@item.m_name')" class="btn btn-primary">@item.m_name</button>
                                            @if (@item.m_name.Contains("roadc"))
                                            {
                                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
                                                Start Broadcast Cycle
                                            </button>
                                            }
                                        </td>
                                        @foreach (var param in item.m_parameters)
                                        {

                                            if (param.Type == "int")
                                            {
                                                <td>
                                                    bool required = @param.Optional;

                                                    <label for="textparam">@param.Hint</label><br />
                                                    @if (@param.Optional)
                                                    {
                                                        <input type="number" id="intparam" name="@param.Hint">
                                                    }
                                                    else
                                                    {
                                                        <input type="number" name="@param.Hint" id="intparam" required >
                                                    }
                                                    
                                                </td>
                                            }
                                            else if (param.Type == "string")
                                            {
                                                <td>
                                                    <label for="textparam">@param.Hint</label><br />
                                                    @if (@param.Optional)
                                                    {
                                                        <input type="text"  name="@param.Hint" class="form-control" id="textparam">
                                                    }
                                                    else
                                                    {
                                                        <input type="text" name="@param.Hint" required class="form-control" id="textparam">
                                                    }
                                                    
                                                </td>
                                            }
                                            else if (param.Type == "bool")
                                            {
                                                <td>
                                                    <label for="textparam">@param.Hint</label><br />
                                                    @if (@param.Optional)
                                                    {
                                                        <input type="checkbox" name="@param.Hint" data-toggle="toggle">
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="@param.Hint"  required data-toggle="toggle">
                                                    }
                                                    
                                                </td>
                                            }

                                        }
                                    </tr>
                                </form>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Queue up to 5 broadcasts.  (Web page must be kept open)</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-success" role="alert">
                                    <b>Broadcast 1</b>
                                    <input placeholder="EMPTY" type="text" name="brd1" class="form-control" id="textparam">
                                </div>
                                <div class="alert alert-success" role="alert">
                                    <b>Broadcast 2</b>
                                    <input placeholder="EMPTY" type="text" name="brd2" class="form-control" id="textparam">
                                </div>
                                <div class="alert alert-success" role="alert">
                                    <b>Broadcast 3</b>
                                    <input placeholder="EMPTY" type="text" name="brd3" class="form-control" id="textparam">
                                </div>
                                <div class="alert alert-success" role="alert">
                                    <b>Broadcast 4</b>
                                    <input placeholder="EMPTY" type="text" name="brd4" class="form-control" id="textparam">
                                </div>
                                <div class="alert alert-success" role="alert">
                                    <b>Broadcast 5</b>
                                    <input placeholder="EMPTY" type="text" name="brd5" class="form-control" id="textparam">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success">Start Cycle</button>
                                <button type="button" class="btn btn-danger">Stop Cycle</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <section class="terminal-container terminal-fixed-top">
                        <header class="terminal">
                            <span class="button red"></span>
                            <span class="button yellow"></span>
                            <span class="button green"></span>
                            <b>Server Responses:</b>
                        </header>

                        <div class="terminal-home" id="outputWindow" style="overflow-y: scroll; height:400px;">
                            <p class="console">* Listening for server responses</p>
                        </div>
                    </section>


                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th><b id="playeramount">x/100</b> players online</th>
                            </tr>
                        </thead>
                        <tbody id="playertable">

                        </tbody>
                    </table>
</div>
            </div>


    <script>
                //Filter table
                $(document).ready(function () {
                    $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#myTable tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>


            <script>
                var APIHost = "http://45.146.252.33/";
                var DisplayResponse = function (response) {
                    var OutputDiv = document.getElementById("outputWindow");
                    OutputDiv.innerHTML += " <p id='response'>" +  JSON.stringify(response) + "</p>";

                }
                //Ajax callings:
                var TestGetBans = function () {

                    var myHeaders = new Headers();
                    myHeaders.append("Cookie", "__RequestVerificationToken=O9Tsqe83uZ3pCQQgAw-7X81cxFK4IOBKaKcTFaulDgHKLtODTfojj3NsrKDqJlf_zIJA6YbEwcOTuHx8z8tdYNZzXgT8D1EjmmcZBjw7iII1");

                    var requestOptions = {
                        method: 'POST',
                        headers: myHeaders,
                        redirect: 'follow'
                    };

                    var _response;
                    fetch("http://localhost:61821/RCON/GetBans", requestOptions)
                      .then(response => response.json())
                      .then(result => _response = result)
                      .then(() => DisplayResponse(_response))
                      .catch(error => console.log('error', error));

                    console.log("Response: " + _response);
                }
                var TriggerCommand = function (formid) {
                    DisplayResponse(formid + " triggered...")
                    var json = CreateCommandJSON(formid);
                    console.log("triggering for: " + formid);

                    var myHeaders = new Headers();
                    myHeaders.append("Cookie", "__RequestVerificationToken=zIJv1u6F-0kyGprYczVv4lDKcu37JH1ql1NuqwK2zJsxNaKd8rspMr8OYTyIcuj04drbSfKAJ3pZde9KipCu5BdobkBUChVRSEiMd2qTsew1");

                    var formdata = new FormData();
                    formdata.append("CommandJSON",json);

                    var requestOptions = {
                        method: 'POST',
                        headers: myHeaders,
                        body: formdata,
                        redirect: 'follow'
                    };

                    fetch(APIHost+"/RCON/SendCommand?=", requestOptions)
                      .then(response => response.text())
                      .then(result => DisplayResponse(result))
                      .catch(error => console.log('error', error));
                }
                var populateValue = function (divid, data) {
                    var div = document.getElementById(divid);
                    div.innerHTML = data;
                }
                var PopulatePlayers = function (data) {
                    try{
                        var table = document.getElementById("playertable");
                        var players = JSON.parse(data);
                        table.innerHTML = " ";

                        console.log(players)
                        for (var i = 0; i < players.length; i++) {
                            table.innerHTML += "<tr><td>"+players[i]+"</td> </tr>";
                        }
                    } catch (e) {
                        console.log(e);
                    }
                }
                var CreateCommandJSON = function (formid) {
                    var obj = {};
                    

                    var form = document.getElementById(formid);

                    inputs = form.getElementsByTagName("input");

                    obj.command = formid;
                    obj.requestor = "placeholder";
                    obj.parameters = [];

                    for (index = 0; index < inputs.length; ++index) {
                        // deal with inputs[index] element.
                        var _tmp = {};
                        _tmp.Hint = inputs[index].name;
                        _tmp.Value = inputs[index].value.toString();
                        _tmp.Type = inputs[index].type.toString();

                        console.log("Found: " + inputs[index].name + ": " + inputs[index].value);
                        obj.parameters[index] = _tmp;
                    }

                    var json = JSON.stringify(obj);
                    console.log(json);
                    return json;
                }
                var GetPlayers = function () {
                    var myHeaders = new Headers();
                    myHeaders.append("Cookie", "__RequestVerificationToken=zIJv1u6F-0kyGprYczVv4lDKcu37JH1ql1NuqwK2zJsxNaKd8rspMr8OYTyIcuj04drbSfKAJ3pZde9KipCu5BdobkBUChVRSEiMd2qTsew1");

                    var formdata = new FormData();
                    formdata.append("Getter", "PlayerNames");

                    var requestOptions = {
                        method: 'POST',
                        headers: myHeaders,
                        body: formdata,
                        redirect: 'follow'
                    };

                    fetch(APIHost+ "/RCON/SendGetter?=", requestOptions)
                      .then(response => response.text())
                      .then(result => PopulatePlayers(result))
                      .catch(error => console.log('error', error));
                }
                var GetSlots = function () {
                    var myHeaders = new Headers();
                    myHeaders.append("Cookie", "__RequestVerificationToken=zIJv1u6F-0kyGprYczVv4lDKcu37JH1ql1NuqwK2zJsxNaKd8rspMr8OYTyIcuj04drbSfKAJ3pZde9KipCu5BdobkBUChVRSEiMd2qTsew1");

                    var formdata = new FormData();
                    formdata.append("Getter", "Slots");

                    var requestOptions = {
                        method: 'POST',
                        headers: myHeaders,
                        body: formdata,
                        redirect: 'follow'
                    };

                    fetch(APIHost+"/RCON/SendGetter?=", requestOptions)
                      .then(response => response.text())
                      .then(result => populateValue("playeramount",result))
                      .catch(error => console.log('error', error));
                }
                var RunRegularGetters = function () {
                    console.log("Running getters")
                    GetSlots();
                    GetPlayers();
                    console.log("Finished running getters");

                }

                var CreateNewSession = function () {
                    var formdata = new FormData();
                //    formdata.append("ip", "176.57.168.232");
               //     formdata.append("port", "");
              //      formdata.append("password", "TAWadminJune06");
                      
                    var requestOptions = {
                        method: 'POST',
                        body: formdata,
                        redirect: 'follow'
                    };

                    fetch("http://45.146.252.33/RCON/CreateNewSession", requestOptions)    //http://45.146.252.33/RCON/CreateNewSession
                      .then(response => response.text())
                      .then(result => console.log(result))
                      .catch(error => console.log('error', error));
                }

                RunRegularGetters();

                setInterval(RunRegularGetters, 5000);


            </script>
        </div>
    </div>

