@model RCON_HLL_MVC.Models.RconCommandsModel
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-sm-12">
                <h2>Hell Let Loose RCON</h2>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p><b>Server: </b>176.57.168.232</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Current available RCON Commands:</h3>
                </div>
            </div>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Show Found Rcon Commands
            </button>
            <hr/>
            <div class="collapse" id="collapseExample">
                <div class="col-sm-12" >
                    @foreach (var item in Model.FoundCommands)
                    {
                        <div class="form-group">

                                <form>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn btn-primary">@item.m_name</button>
                                        </div>
                                            <!-- <label for="textparam">@item.m_name</label>-->
                                            
                                            

                                    @foreach (var param in item.m_parameters)
                                    {
                                        <div class="col-sm-3">
                                            @if (param.Type == "int")
                                            {
                                                <label for="textparam">@param.Hint</label>
                                                <input type="number" id="intparam" name="@param.Hint">
                                            }
                                            else if (param.Type == "string")
                                            {
                                                <label for="textparam">@param.Hint</label>
                                                <input type="text" class="form-control" id="textparam">
                                            }
                                            else if (param.Type == "bool")
                                            {
                                                <label for="textparam">@param.Hint</label>
                                                <input type="checkbox" disabled data-toggle="toggle">
                                            }
                                        </div>
                                    }
                            </div>
                                </form>
                            <br/>
                            <hr/>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

