@model RCON_HLL_MVC.Models.RconCommandsModel
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-sm-12">
                <h2>Hell Let Loose RCON</h2>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p><b>Server: </b>176.57.168.232</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Current available RCON Commands:</h3>
                </div>
            </div>
            <hr />


            <div class="container">
                <!-- Filter Input-->
                <label>Filter Command List:</label>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <br>

                <div class="col-sm-9">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Command</th>
                                <th>Paramter 1</th>
                                <th>Paramter 2</th>
                                <th>Paramter 3</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var item in Model.FoundCommands)
                            {
                                <form>
                                    <tr>
                                        <td>
                                            <button type="submit" class="btn btn-primary">@item.m_name</button>
                                        </td>
                                        @foreach (var param in item.m_parameters)
                                        {

                                            if (param.Type == "int")
                                            {
                                                <td>
                                                    <label for="textparam">@param.Hint</label><br />
                                                    <input type="number" id="intparam" required=@param.!Optional name="@param.Hint">
                                                </td>
                                            }
                                            else if (param.Type == "string")
                                            {
                                                <td>
                                                    <label for="textparam">@param.Hint</label><br />
                                                    <input type="text" required=@param.!Optional class="form-control" id="textparam">
                                                </td>
                                            }
                                            else if (param.Type == "bool")
                                            {
                                                <td>
                                                    <label for="textparam">@param.Hint</label><br />
                                                    <input type="checkbox" required=@param.!Optional data-toggle="toggle">
                                                </td>
                                            }

                                        }
                                    </tr>
                                </form>
                            }

                        </tbody>
                    </table>
                </div>

                <div class="col-sm-3">
                    <div class="overflow-auto">
                        <div class="alert alert-success" role="alert">
                            Response Log:
                            <hr />
                        </div>
                        <div class="alert alert-success" role="alert">
                            <div id="response">
                                Example response: Samke killed 20393857 shermans.
                                <hr />
                            </div>
                            <div id="response">
                                Example response: 24/100 players online.
                                <hr />
                            </div>
                            <div id="response">
                                Example response: Banlist. {john doe, lisa simpson, andre the giant}
                                <hr />
                            </div>
                            <div id="response">
                                Example response: Broadcast set to "Welcome to TAW"
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    <script>
                //Filter table
                $(document).ready(function () {
                    $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#myTable tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>


            <script>
                //Ajax callings:
                var TestGetBans = function () {
                    var myHeaders = new Headers();
                    myHeaders.append("Cookie", "__RequestVerificationToken=O9Tsqe83uZ3pCQQgAw-7X81cxFK4IOBKaKcTFaulDgHKLtODTfojj3NsrKDqJlf_zIJA6YbEwcOTuHx8z8tdYNZzXgT8D1EjmmcZBjw7iII1");

                    var requestOptions = {
                        method: 'POST',
                        headers: myHeaders,
                        redirect: 'follow'
                    };

                    fetch("http://localhost:61821/RCON/GetBans", requestOptions)
                      .then(response => response.text())
                      .then(result => console.log(result))
                      .catch(error => console.log('error', error));

                    console.log("Response: " + response);
                    return response;
                }
                setInterval(TestGetBans, 5000);

            </script>
        </div>
    </div>

